/* everthing */
* {
  box-sizing: border-box;
}

body {
  background: #92bde7;
  color: #485e74;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.1em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.brand span {
  color: white;
}

.wrapper {
  box-shadow: 0 0 20px rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.company-info,
.instructions {
  background: #c9e6ff;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact,
.background,
.access,
.moving_through_visit {
  background: #f9feff;
}

.bold {
  font-weight: bold;
}
/* FORMS  */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1/3;
}

form button,
form input,
form textarea {
  padding: 0.5rem;
  outline-color: #c9e6ff;
}

.contact form button,
.contact form input,
.contact form textarea,
.grid-survey-question form textarea {
  width: 100%;
}

.contact form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
}

.grid-survey-question {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
}
.grid-question,
.grid-comment {
  grid-column: 1 /7;
}

/* color styling  */
.contact form button:hover,
.contact form button:focus {
  background: #92bde7;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="time"],
input[type="date"] {
  border: none;
  border-bottom: 2px solid #92bde7;
}

textarea {
  border: 2px solid #92bde7;
}

.comments textarea {
  width: 100%;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #92bde7;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
